* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "Nunito";
  height: 100vh;
}

h1 {
  font-size: 3rem;
  padding-top: 60px;
}

p {
  font-size: 1.5rem;
}

.chrome-picker {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}